name: shtoone_push
description: "Push service."
version: 0.0.1
homepage: "https://github.com/TroubleChenC/shtoone_push"

environment:
  sdk: ^3.7.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.shtoone.shtoone_push
        pluginClass: ShtoonePushPlugin