<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shtoone.shtoone_push">

    <application>
        <receiver
            android:name="com.shtoone.shtoone_push.MessageReceiver.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
